* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {

    .up-nav {

        background-color: black;
        padding: 8px 0;

        .container {
            max-width: 1200px !important;
            color: white;
            display: flex;
            justify-content: space-between;
        }

        .left-nav {
            color: white;
            display: flex;
            gap: 70px;

            img {
                width: 23px;
            }

            span {
                font-size: 12px;
            }
        }

        .right-nav {
            display: flex;
            gap: 22px;
            align-items: center;

            i {
                font-size: 13px;
            }
        }
    }


    .mid-nav {

        padding: 12px 0;
        border-bottom: 1px solid #80808033;

        .container {
            max-width: 1200px !important;
            display: flex;
            align-items: center;

        }

        

        .nav-banner {
            display: flex;
            justify-content: flex-end;

        }
    }

    .down-nav{

        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .container {
            max-width: 1200px !important;
            display: flex;
            justify-content: space-between;


        }

        ul{
            display: flex;
            align-items: center;
            padding-left: 0; 
            margin-bottom: 0;

            li{

                list-style: none;

                a{
                    text-decoration: none;
                    font-size: 14px;
                    padding: 39px 19px;
                    font-weight: 600;
                    color: #002e5b;
                    font-family: "Roboto",sans-serif;
                    display: block;

                }
            }
        }


       .right{
        
        .box{
            position: relative;
            top: 26px;
        }
        
        .input {
            padding: 10px;
            width: 60px;
            height: 40px;
            background: none;
            border: 1px solid #222221;
            border-radius: 50px;
            box-sizing: border-box;
            font-size: 16px;
            color: rgb(3, 3, 3);
            outline: none;
            transition: .5s;
        }
        .box:hover input{
            width: 300px;
            background: #ffffff;
            border-radius: 10px;
        }
        .box i{
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translate(-50%,-50%);
            font-size: 16px;
            color: #0e0e0e;
            transition: .2s;
        }
        .box:hover i{
            opacity: 0;
            z-index: -1;
        }
        
       }



    }


}